<div class="container">
  <a class="authLink linkGithub" href="/auth/github">
  <%= image_tag 'github.png' %>
  Login using Github
  </a>
  <a class="authLink linkTwitter" href="/auth/twitter">
  <%= image_tag 'twitter.png' %>
  Login using Twitter
  </a>
</div>